.profile{
    display: block;
    width: 495px;
    height: 380px;
    border: 2px solid black;
    margin-top: 8px;
}

.name{
    color: aliceblue;
    font-family: cursive;
    margin-bottom: 0.1%;
}

.designation{
    color: orange;
    font-family:fantasy, sans-serif;
    font-size: 22.5px;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
}

.detail{
    margin-top: 2%;
    margin-bottom: 1%;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}

a > button{
    height: 50px;
    width: 120px;
    margin: 5% 7%;
    border-radius: 12px;
    border: 1px solid gray;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
}

#email{
    background-color:#fffddf;
}

#linkedIn{
    width: 120px;
    background-color: #4f94e2;
}

a>button:hover{
    cursor: pointer;
}
